.menu-bar {
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: linear-gradient(to right, #ff7f50, #6a5acd);
}

.menu {
    -fx-padding: 12px;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.context-menu {
    -fx-background-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-background-radius: 0px 0px 20px 20px;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-background-radius: 0px 0px 20px 20px;
    -fx-text-fill: white;
}

.v-box {
    -fx-background-color: white;
}

.button {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 16px;
    -fx-border-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);
    -fx-background-insets: 0;
    -fx-background-radius: 16px;
}

.button:hover {
    -fx-background-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-border-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-text-fill: white;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.logoutButton {
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #6a5acd;
    -fx-background-insets: 0;
    -fx-border-radius: 0px 0px 0px 0px;
}

.logoutButton:hover {
    -fx-background-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-border-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-text-fill: white;
    -fx-background-radius: 20px 20px 0px 0px;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-border-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-text-fill: white;
}

.combo-box-base:focused,
.combo-box-base {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);
    -fx-background-insets: 0;
}

.combo-box-base:hover,
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-border-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-text-fill: white;
}

.check-box .box,
.check-box:selected .box {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);
    -fx-background-insets: 0;
}

.check-box .box:hover {
    -fx-background-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-border-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-text-fill: white;
}

.check-box:selected .mark {
    -fx-background-color: linear-gradient(to top right, #ff7f50, #6a5acd);
}

.check-box:selected .box:hover .mark {
    -fx-background-color: white;
}

.text-field {
    -fx-border-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);
    -fx-background-insets: 0;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-border-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-text-fill: white;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-border-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    /*-fx-border-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);*/
    -fx-background-insets: 0;
}

.table-view .column-header-background .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell:focused,
.table-row-cell:selected,
.table-row-cell:hover {
    -fx-background-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: linear-gradient(to top right, #6a5acd, #ff7f50);
    -fx-text-fill: black;
}

.table-row-cell:selected .text {
    -fx-fill: black;
    -fx-font-weight: bold;
}


