
.pane {
    -fx-background-image: url("../css/image/login-bgimg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800px 600px;
}

.label {
    -fx-font-family: "Candara";
    -fx-font-size: 30;
}

.loginButton {
    -fx-font-family: "Candara";
    -fx-background-color: linear-gradient(to bottom left, #ff7f50, #6a5acd);
    -fx-text-fill: white;
    -fx-background-radius: 16px;
}

.loginButton:hover {
    -fx-background-color: linear-gradient(to top right, #ff7f50, #6a5acd);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.textField {
    -fx-background-image: url('image/login-username-icon.png');
    -fx-background-size: 20px 20px;
    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

/*.textField:focused {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}*/

.passwordField {
    -fx-background-image: url('image/login-password-icon.png');
    -fx-background-size: 20px 20px;
    -fx-background-position: right center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: linear-gradient(to right, #ff7f50, #6a5acd);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

/*
.passwordField:focused {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}*/
